
#primaryNav li {
	width:25%;
}

#primaryNav li ul li {
	width:100% !important;
}

#primaryNav.col1 li { width:99.9%; }
#primaryNav.col2 li { width:50.0%; }
#primaryNav.col3 li { width:33.3%; }
#primaryNav.col4 li { width:25.0%; }
#primaryNav.col5 li { width:20.0%; }
#primaryNav.col6 li { width:16.6%; }
#primaryNav.col7 li { width:14.2%; }
#primaryNav.col8 li { width:12.5%; }
#primaryNav.col9 li { width:11.1%; }
#primaryNav.col10 li { width:10.0%; }



/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

#primaryNav {
	margin: 0;
	float: left;
	width: 100%;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
min-height: 1000px;

}
#home{
margin-bottom: -149px;
}

#primaryNav #home {
	display: block;
	float: none;
	background: #ffffff url('images/L1-left.png') center bottom no-repeat;
	position: relative;
	z-index: 2;
	padding: 0 0 30px 0;
}
#primaryNav li {
	float: left;
	background: url('images/L1-center.png') center top no-repeat;
	padding: 30px 0;
	margin-top: -30px;
	padding-bottom: 13px;
}
#primaryNav li h6{
margin-top: -7px;
}
#primaryNav a{
height: 36px;
}
#primaryNav li a {
	margin: 0 20px 0 0;
	padding: 10px 0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;	
	background: #0daed3 repeat-x;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}

#primaryNav li:last-child {
	background: url('images/L1-right.png') center top no-repeat;
	
}
#primaryNav a:link:before,
#primaryNav a:visited:before {
	@content: " "attr(href)" ";
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 5px;
	word-wrap: break-word;
}
#primaryNav li a:link:before,
#primaryNav li a:visited:before {
	color: #fff;
}
#primaryNav li a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0b8caa;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0daed3), to(#0b8caa));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #0daed3, #0b8caa);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #0daed3, #0b8caa);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #0daed3, #0b8caa);
  /* IE10 */
  background-image: -o-linear-gradient(top, #0daed3, #0b8caa);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #0daed3, #0b8caa);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0daed3', endColorstr='#0b8caa',GradientType=0 ); 
  
  border-color: #0daed3 #0daed3 #0c9abb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
}
#primaryNav li a:hover {
 background-color: #0c9abb;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0daed3), to(#0c9abb));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #0daed3, #0c9abb);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #0daed3, #0c9abb);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #0daed3, #0c9abb);
  /* IE10 */
  background-image: -o-linear-gradient(top, #0daed3, #0c9abb);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #0daed3, #0c9abb);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0daed3', endColorstr='#0c9abb',GradientType=0 ); 
	border-color: #97bdcf;
}
/* --------	Second Level --------- */

#primaryNav li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 10px 0 0 0;
	background: url('images/vertical-line.png') center bottom repeat-y;
	padding-bottom: 13px;
}
#primaryNav li li h6{
margin-top: -7px;
}
#primaryNav li li a {
	background-color: #cee3ac;
	border-color: #b8da83;
}

#primaryNav li li:first-child {
	padding-top: 30px;
}
#primaryNav li li:last-child {
	background: url('images/vertical-line.png') center bottom repeat-y;
	height: 10px;
}
#primaryNav li li a:link:before,
#primaryNav li li a:visited:before {
	color: #fff;
}
#primaryNav li li a {
 color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5c9239;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74b749), to(#5c9239));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #74b749, #5c9239);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #74b749, #5c9239);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #74b749, #5c9239);
  /* IE10 */
  background-image: -o-linear-gradient(top, #74b749, #5c9239);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #74b749, #5c9239);
    /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74b749', endColorstr='#5c9239',GradientType=0 ); 
  border-color: #74b749 #74b749 #5c9239;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
}
#primaryNav li li a:hover {
	border-color: #94b75f;
  background-color: #5c9239;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5c9239), to(#5c9239));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #5c9239, #5c9239);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #5c9239, #5c9239);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #5c9239, #5c9239);
  /* IE10 */
  background-image: -o-linear-gradient(top, #5c9239, #5c9239);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #5c9239, #5c9239);
    /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9239', endColorstr='#5c9239',GradientType=0 ); 
}
/* --------	Third Level --------- */

#primaryNav li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: 9px 0 10px 0;
	background: #ffffff url('images/L3-ul-top.png') center top no-repeat;
	
}
#primaryNav li li li {
	background: url('images/L3-center.png') left center no-repeat;
	padding: 5px 0;
	padding-bottom: 13px;

}
#primaryNav li li li h6{
margin-top: 4px;
line-height: 4px;
}
#primaryNav li li li{
margin-bottom: 0px;
}
#primaryNav li li li a {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: 12px;
	padding: 5px 0;
	width: 80%;
	float: right;
}

#primaryNav li li li:first-child {
	@padding: 15px 0 5px 0;
	background: url('images/L3-li-top.png') left center no-repeat;
}
#primaryNav li li li:last-child {
	background: url('images/L3-bottom.png') left center no-repeat;
}
#primaryNav li li li a:link:before,
#primaryNav li li li a:visited:before {
	color: #fff;
	font-size: 9px;
}


#primaryNav li li li a{
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d59600;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb400), to(#d59600));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffb400, #d59600);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #ffb400, #d59600);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #ffb400, #d59600);
  /* IE10 */
  background-image: -o-linear-gradient(top, #ffb400, #d59600);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #ffb400, #d59600);
      /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb400', endColorstr='#d59600',GradientType=0 );
  
  border-color: #ffb400 #ffb400 #e6a200;
  
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
  
}
#primaryNav li li li a:hover {
 background-color: #ffb400;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb400), to(#ffb400));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffb400, #ffb400);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #ffb400, #ffb400);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #ffb400, #ffb400);
  /* IE10 */
  background-image: -o-linear-gradient(top, #ffb400, #ffb400);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #ffb400, #ffb400);
      /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb400', endColorstr='#ffb400',GradientType=0 );
  
	border-color: #d1b62c;
}

/* --------main -------------*/
#primaryNav i li a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #bc0c0c !important;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f63131), to(#bc0c0c)) !important;
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f63131, #bc0c0c) !important;
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f63131, #bc0c0c) !important;
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f63131, #bc0c0c) !important;
  /* IE10 */
  background-image: -o-linear-gradient(top, #f63131, #bc0c0c) !important;
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #f63131, #bc0c0c) !important;
      /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f63131', endColorstr='#bc0c0c',GradientType=0 ); 
  border-color: #f63131 #f63131 #bc0c0c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
  border-color: #0daed3 #0daed3 #0c9abb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
}
#primaryNav i li a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f63131 !important;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f63131), to(#f63131)) !important;
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f63131, #f63131) !important;
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f63131, #f63131) !important;
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f63131, #f63131) !important;
  /* IE10 */
  background-image: -o-linear-gradient(top, #f63131, #f63131) !important;
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #f63131, #f63131) !important;
      /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f63131', endColorstr='#f63131',GradientType=0 ); 
  border-color: #f63131 #f63131 #f63131;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
	border-color: #97bdcf;
}
